{% extends "app/layout.html" %}

{% block content %}

{% if errors %}
<div class="jumbotron">
    <section id="errors">
        <h1>Errors occurred in your last request to Bing Ads API.</h1>
        <table class="table" style="width:100%">
            <tr class="row">
                <th class="col-md-10">Code</th>
                <th class="col-md-10">ErrorCode</th>
                <th class="col-md-10">Message</th>
            </tr>
            {% for error in errors %}
            <tr class="row">
                <td class="col-md-10">{{ error.Code }}</td> 
                <td class="col-md-10">{{ error.ErrorCode }}</td> 
                <td class="col-md-10">{{ error.Message }}</td> 
            </tr>
            {% endfor %}
        </table> 
    </section>
</div>
{% endif %}

{% if user.is_authenticated  %}

{% if bingadsuser  %}
<div class="jumbotron">
    <section id="enabled">
        <h1>Your user has access to Bing Ads.</h1>
        <table class="table" style="width:100%">
            <tr class="row">
                <th class="col-md-10">Id</th>
                <th class="col-md-10">UserName</th>
                <th class="col-md-10">First Name</th>
                <th class="col-md-10">Last Name</th>
            </tr>
            <tr class="row">
                <td class="col-md-10">{{ bingadsuser.Id }}</td> 
                <td class="col-md-10">{{ bingadsuser.UserName }}</td> 
                <td class="col-md-10">{{ bingadsuser.Name.FirstName }}</td> 
                <td class="col-md-10">{{ bingadsuser.Name.LastName }}</td> 
            </tr>
        </table> 
    </section>
</div>

<div class="jumbotron">
    <section id="revoke">
        <p class="lead">Click here to revoke access to your Bing Ads accounts. You will then be able to login with a different user. </p>
        <form id="revokeForm" action="/revoke" method="post" class="navbar-left">
            {% csrf_token %}
            <ul class="nav navbar-nav navbar-left">
                <li><a href="javascript:document.getElementById('revokeForm').submit()">Revoke Bing Ads Access</a></li>
            </ul>
        </form>
    </section>
</div>

{% else  %}

<div class="jumbotron">
    <section id="enable">
        <h1>Enable Bing Ads Access</h1>
        <p class="lead">
            You are logged into the application without access to any Bing Ads accounts. Please sign in with a Bing Ads user.
        </p>
        <p>
            If you don't have a Bing Ads user, you can go to the 
            <a href="http://advertise.bingads.microsoft.com/en-us/sign-up?mkt=en-us&adv_market=en-us&s_int=en_us_acsignup">Bing Ads Sign Up</a> page.
            New customers are required to sign up for Bing Ads with a Microsoft Account, and to manage those accounts you must use OAuth. 
            Existing users with legacy Bing Ads credentials may continue to specify the UserName and Password header elements. 
            In future versions of the API, Bing Ads will transition exclusively to Microsoft Account authentication.
        </p>
    </section>
</div>

<div class="row">
    <div class="col-md-6">
        <section id="socialLoginForm">
            <h1>Microsoft Account Login</h1>
            <p class="lead">Click here to authenticate your Microsoft Account in Production. </p>
            <p><a href="/callback" class="btn btn-primary btn-large">Authenticate Microsoft Account &raquo;</a></p>
        </section>
    </div>
    <div class="col-md-6">
        <section id="loginForm">
            <h1>UserName and Password Login</h1>
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>If your username is an email address, login with a Microsoft Account instead.</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-2 control-label">User name</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_environment" class="col-md-2 control-label">Environment</label>
                    <div class="col-md-10">
                        {{ form.environment }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
            </form>
        </section>
    </div>
</div>

{% endif %}

{% else %}

<div class="jumbotron">
    <h1>Bing Ads Example Web Application</h1>
    <p class="lead">
        Before you can provide your Bing Ads user credentials and access Bing Ads data, please login or sign up for access to this web application. 
        For information about how to build a web application like this one, please see the sections below.</p>
    <p><a href="{% url 'login' %}">Log in</a></p>
</div>

{% endif %}

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started Using Python with Bing Ads Services</h2>
        <p>
            The Bing Ads Python Software Development Kit (SDK) Version 9.3 enhances the experience of developing Bing Ads applications with any Python language. 
            The SDK includes a proxy to all Bing Ads API web services, provides a bulk file reader and writer, and abstracts low level details of authentication with OAuth. 
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/bingads/guides/get-started-python">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Django</h2>
        <p>Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a class="btn btn-default" href="https://www.djangoproject.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}

{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}